@page "/buysell"

<div class="buysell-main">
    <div class="top">
        <p class="bold-p">@(Direction == "BUY" ? "Buy XMR with" : "Sell XMR for")</p>
        <p class="bold-p">XMR/@PreferredCurrency: @CurrentMarketPrice</p>
    </div>
    <div class="account-type">
        <Tabs @bind-SelectedTabIndex="OfferPaymentType" TabNames="@(["Fiat", "Crypto", "Other"])"></Tabs>
        <Toggle @bind-IsToggled="IsToggled" Text="@Direction" />
    </div>

    @if (IsCreatingOffer)
    {
        <CreateOffer OnCloseCreateOffer="@CloseCreateOffer" Direction="@Direction" />
    }
    else
    {
        <div class="inputs">
            <div>
                <SearchableDropdown @ref="CurrencySearchableDropdown" Class="dropdown" Placeholder="Show all" Items="@VisibleCurrencyCodes" Text="Currency" OnSubmit="@((val) => SelectedCurrencyCode = val)" />
            </div>
            <div>
                <SearchableDropdown @ref="PaymentMethodSearchableDropdown" Class="dropdown" Placeholder="Show all" Items="@VisiblePaymentMethods" Text="Payment method" OnSubmit="@((val) => SelectedPaymentMethod = val)" />
            </div>
            <div class="offers-list-text-container">
                <p class="offers-list-text">@(Direction == "BUY" ? "Buy XMR from" : "Sell XMR to")</p>
                <p class="offers-list-text">@Offers.Count Offers</p>
            </div>
        </div>
        <ul class="offers">
            @foreach (var offer in Offers)
            {
                <li class="offer">
                    @* check that payment method also supports currency *@
                    <a class="offer-link" href=@($"offer?OfferId={offer.Id}&title=Offer")>
                        <div class="offer-top">
                            <div class="offer-currency">
                                @(Direction == "SELL" ? offer.BaseCurrencyCode : offer.CounterCurrencyCode)
                                <ion-icon name="arrow-forward-outline"></ion-icon>
                                @(Direction == "SELL" ? offer.CounterCurrencyCode : offer.BaseCurrencyCode)
                                |
                                @(Math.Round(double.Parse(offer.Price), 2))
                                @offer.CounterCurrencyCode
                                (@Math.Round(offer.MarketPriceMarginPct, 2).ToString("0.00")%)
                            </div>
                            @if (offer.IsMyOffer)
                            {
                                <div>
                                    <p>Remove</p>
                                    <p>Edit</p>
                                </div>
                            }
                            else
                            {
                                <div class="card">
                                    @offer.PaymentMethodShortName
                                </div>
                            }
                        </div>
                        <div>
                            @{
                                var minVolume = double.Parse(offer.MinVolume);
                                var volume = double.Parse(offer.Volume);

                                if (minVolume == volume)
                                {
                                    @(Math.Round(volume, 2) + " ")
                                }
                                else
                                {
                                    @($"{Math.Round(minVolume, 2)} - {Math.Round(volume, 2)} ")
                                }
                            }
                            @offer.CounterCurrencyCode
                        </div>
                        @(offer.Amount == offer.MinAmount ? $"{offer.Amount.ToMonero()} XMR" : $"{offer.MinAmount.ToMonero()} - {offer.Amount.ToMonero()} XMR")
                    </a>
                </li>
            }
        </ul>
        <div class="buttons">
            <button class="create-offer-button" @onclick="() => IsCreatingOffer = !IsCreatingOffer">@(Direction == "BUY" ? "Create offer to buy XMR" : "Create offer to sell XMR")</button>
            <button @onclick="NavigateToMyOffers">View my offers</button>
        </div>
    }
</div>