@page "/trades/{id}/chat"

<div class="chat-main">
    <ul id="chat-list">
        @for (int i = 0; i < Messages.Count; i++)
        {
            var message = Messages[i];
            // This is fucking stupid
            var isMyMessage = message.SenderNodeAddress.HostName.Split(".")[0] != TradePeer && message.SenderNodeAddress.HostName.Split(".")[0] != Arbitrator && !message.IsSystemMessage;

            <li class="@(isMyMessage ? "right" : "left")" id="@(i == Messages.Count - 1 ? "last-message" : "")">
                <p class="date">
                    @(message.Date.ToDateTime().ToLocalTime())
                </p>
                <p class="message">
                    @message.Message
                </p>
            </li>
        }
    </ul>

    <div class="input-container">
        <input @oninput="HandleMessageChanged" @bind="Message" type="text" placeholder="Type message" />
        <button @onclick="SendMessageAsync" disabled="@(string.IsNullOrEmpty(Message))">
            <img src="icons/send.svg" />
        </button>
    </div>
</div>
