@page "/"

<p>Haveno version: @Version</p>

<p>AvailableXMRBalance: @(Balance?.AvailableXMRBalance.ToMonero()) XMR</p>
<p>XMRBalance: @(Balance?.XMRBalance.ToMonero()) XMR</p>
<p>Pending: @(Balance?.PendingXMRBalance.ToMonero()) XMR</p>
<p>ReservedOfferBalance: @(Balance?.ReservedOfferBalance.ToMonero()) XMR</p>
<p>ReservedTradeBalance: @(Balance?.ReservedTradeBalance.ToMonero()) XMR</p>
<p style="line-break:anywhere">Address: @Balance?.PrimaryAddress</p>
