@page "/buysell/myoffers"

<div class="my-offers-main">
    <div class="tab-container">
        <Tabs TabNames="@(["All", "Active", "Inactive"])"></Tabs>
    </div>

    @if (Offers.Count == 0)
    {
        <p>No offers</p>
    }
    else
    {
        <ul class="offers">
            @foreach (var offer in Offers)
            {
                <li class="offer">
                    <div class="offer-top">
                        <div class="offer-top-left">
                            <div class="base-amounts">
                                <p>
                                    @offer.CounterCurrencyCode
                                    @(" ")
                                    @{
                                        var minVolume = double.Parse(offer.MinVolume);
                                        var volume = double.Parse(offer.Volume);

                                        if (minVolume == volume)
                                        {
                                            @(Math.Round(volume, 2) + " ")
                                        }
                                        else
                                        {
                                            @($"{Math.Round(minVolume, 2)} - {Math.Round(volume, 2)} ")
                                        }
                                    }
                                </p>
                            </div>

                            @* <img src="icons/arrow-right.svg" /> *@

                            <div class="counter-amounts">
                                <p>@offer.BaseCurrencyCode</p>
                                <div class="xmr-icon"></div>
                                <p>@(offer.Amount == offer.MinAmount ? $"{offer.Amount.ToMonero()}" : $"{offer.MinAmount.ToMonero()} - {offer.Amount.ToMonero()}")</p>
                            </div>
                        </div>
                        <div class="offer-top-right">
                            <p>@offer.PaymentMethodShortName</p>
                            <div class="amounts">
                                @(Math.Round(double.Parse(offer.Price), 2))
                                @offer.CounterCurrencyCode
                                (@Math.Round(offer.MarketPriceMarginPct, 2).ToString("0.00")%)
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button disabled @onclick="EditOffer">Edit</button>
                        <button class="button-grey" @onclick="() => CancelOfferAsync(offer.Id)">Remove</button>
                    </div>
                </li>
            }
        </ul>
    }
</div>