@page "/offer"

<div class="offer-main">
    <div class="dropdown">
        <SearchableDropdown Disabled="true" InitialValue="@SelectedPaymentAccountId" Text="Trading account" Placeholder="Trading account" Items="@PaymentAccounts" OnSubmit="(val) => SelectedPaymentAccountId = val"></SearchableDropdown>
    </div>
    <label>Amount</label>
    <input step="0.01" min="@OfferInfo?.MinAmount.ToMonero()" max="@OfferInfo?.Amount.ToMonero()" @bind="@Amount" type="number" />
    @if (OfferInfo?.MinAmount == OfferInfo?.Amount)
    {
        <p class="range">MIN/MAX: @OfferInfo?.MinAmount.ToMonero() XMR</p>
    }
    else
    {
        <p class="range">MIN/MAX: @OfferInfo?.MinAmount.ToMonero() XMR - @OfferInfo?.Amount.ToMonero() XMR</p>
    }
    <label>Total in @OfferInfo?.CounterCurrencyCode:</label>
    <input readonly @bind="@FiatAmount" type="number" step="0.01" />
    <button disabled="@UserDoesNotHaveAccount" @onclick="TakeOfferAsync">Take offer</button>
    <button @onclick="Cancel">Cancel</button>
</div>

<Modal IsOpen="IsTakingOffer" Title="Taking offer" ModalButtonOptions="ModalButtonOptions.CANCEL" OnCancelPressed="() => CancelOfferCts.Cancel()">
    <p>Please wait</p>
    @* <Spinner IsVisible="true"></Spinner> *@
</Modal>
<Modal Title="No payment account" IsOpen="UserDoesNotHaveAccount" ModalButtonOptions="ModalButtonOptions.OK" OkButtonText="Create account" OnOkPressed="@NavigateToAccount">
    <p>You do not have an account of this type.</p>
</Modal>
