@if (IsOpen)
{
    <div class=@(IsCloseable ? "generic-modal closeable" : "generic-modal") @onclick="@((e) => { if (IsCloseable) { IsOpen = !IsOpen; }; })">
        <div class="verify-modal" @onclick:stopPropagation="true" @onclick:preventDefault="true">
            <div class="top">
                <div class="top-icons">
                    <i class="bi-exclamation-circle info"></i>
                    <p class="verify-title">@Title</p>
                    <i class="bi-x-lg close" @onclick:stopPropagation="true" @onclick:preventDefault="true" @onclick="@((e) => IsOpen = false)"></i>
                </div>
                @ChildContent
            </div>
            <div class="buttons">
                @if (ModalButtonOptions == ModalButtonOptions.OK || ModalButtonOptions == ModalButtonOptions.OK_CANCEL)
                {
                    <button class="verify-modal-button ok-button" @onclick:stopPropagation="true" @onclick:preventDefault="true" @onclick="@(async (e) => { IsOpen = false; await OnOkPressed.InvokeAsync(); })">@OkButtonText</button>
                }
                @if (ModalButtonOptions == ModalButtonOptions.CANCEL || ModalButtonOptions == ModalButtonOptions.OK_CANCEL)
                {
                    <button class="verify-modal-button" @onclick:stopPropagation="true" @onclick:preventDefault="true" @onclick="@((e) => { IsOpen = false; OnCancelPressed.InvokeAsync();})">@CancelButtonText</button>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string OkButtonText { get; set; } = "Ok";
    [Parameter]
    public string CancelButtonText { get; set; } = "Cancel";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public EventCallback OnOkPressed { get; set; }
    [Parameter]
    public EventCallback OnCancelPressed { get; set; }
    [Parameter]
    public ModalButtonOptions ModalButtonOptions { get; set; } = ModalButtonOptions.OK_CANCEL;

    [Parameter]
    public bool IsOpen
    {
        get;
        set
        {
            if (field == value)
                return;

            field = value;
            IsOpenChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter]
    public bool IsCloseable { get; set; } = true;
}
